h1  {color: rgb(0, 0, 0);
    font-size: 4vw;
    justify-content: center;
}

h2  {color: red;
    justify-content: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    #shiftingColor {
        font-size: 4vw; 
        font-weight: bold; 
    }
}

body {
    display: flex;
    background-image: radial-gradient(white, slategrey);
    justify-content: center;
    align-items: center;
    height: 96vh;
    margin: 0;
    border: 2vh;
    border-style: dashed; 
    border-image: linear-gradient( 360deg, rgba(255,249,34), rgba(255,0,128), rgb(204, 86, 2), rgb(114, 0, 2));
    border-image-slice: 1;
}

.Alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: -50%,-50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    padding: 10vw;
    border-radius: 4vw;
    font-size: 3vw;
    z-index: 1000;
}

.ButtonGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.GridButton {
    padding: 1vw;
    font-size: 4vw;
    cursor: pointer;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border-radius: 5vw;
} 